
.image {
    width: 10%;
}

.content {
    width: 80%;
    line-height: 2rem;
}

.coordinates {
    font-size: .9rem;
}

.description {
    font-size: 1.3rem;
}

.actionButtons {
    display: flex;
    width: 10%;
}

.actionButtonCall {
    cursor: pointer;
    margin-right: 15px;
}
